# Data Manipulation with Python

Welcome to the QCL Workshop **Data Manipulation with Python**.

This is a Level 2 Workshop, so I will assume you are familiar with the topics covered in the **Practical Programming with Python** Workshop (Level 1):

* Basics of Jupyter notebook
* Variables
* Functions
* Lists and dictionaries
* For loops
* Conditional statements

![](https://raw.githubusercontent.com/CMC-QCL/python-data-manipulation/main/imgs/np_pd_logos.png)

By the end of this workshop you will be able to:

* Import and export data
* Explore and subset DataFrames
* Detect and deal with missing data
* Change between data types

## Jupyter Notebooks review

There are 2 modes: command mode (blue) and edit mode (green). To enter command mode, press `Esc`. To enter edit mode, select a cell and press `Enter`.

To run the selected cells, press `Ctrl + Enter` on Windows or `âŒ˜ + Enter` on Mac.

A Code cell will evaluate Python code and show the result (if there's anything to show).

## Today's data

Today's data was taken from [Kaggle](https://www.kaggle.com/). The dataset was scrapped from [IMDb](https://www.imdb.com/), a website that contains information about movies and TV shows. Registered users' votes are then summarized as their rating.

The goal for today will be to explore and clean the IMDb's top [50,000 TV shows](https://www.kaggle.com/datasets/muralidharbhusal/50000-imdb-tv-and-web-series) dataset.

## Pandas and Numpy

Pandas is a powerful and flexible library used for data exploration and transformation. Pandas is built on top of NumPy and uses DataFrames as its main data structure. NumPy (Numerical Python) provides the tools for efficient numerical computation (e.g. matrix multiplication) and uses multidimensional arrays as its data structure.

|                         Pandas                        |                   NumPy                  |
|:-----------------------------------------------------:|:----------------------------------------:|
|          Uses a 2D data structure (DataFrame)         | Capable of using multidimensional arrays |
|               Slower compared with NumPy              |            Faster than Pandas            |
| Columns in a DataFrame can be of different data types | Arrays can only be of one data type      |

To use a library in Python, we first need to import it using an `import` statement. For example, we can import NumPy.

In [ ]:
# Import NumPy
import numpy

print(numpy.pi)

In [ ]:
# Import with an alias
import numpy as np

print(np.pi)

## Pandas DataFrames

A DataFrame is a 2D data structure where each column can be of a different type. Both, rows and columns are labeled.

### Create a DataFrame

One way to construct a DataFrame is by using a dictionary.

In [ ]:
import pandas as pd

# Create a dictionary
data_dict = {"Title": ["Wednesday", "The White Lotus"], 
             "Release Year": [2022, 2021], 
             "Rating": [8.2, 7.9]}

# Create the DataFrame
df = pd.DataFrame(data_dict)
print(df)

Creating DataFrames by hand is useful for testing purposes. However, in most cases we will need to read our data from a CSV (Comma Separated Values) file or any other file format.

### Importing data

Pandas has many functions to import data from different sources. For example, we can read CSV files using the `read_csv()` function.

In [ ]:
# Read today's data
imdb = pd.read_csv("data/imdb_tv_series.csv")

<div class="alert alert-block alert-warning">
    <b>Note:</b> Pandas also has functions to read Excel files (<code>read_excel()</code>) and even SQL files (<code>read_sql()</code>).
</div>

<div class="alert alert-block alert-success">
    Hands-on activities will make use of another dataset taken from <a href="https://www.kaggle.com/">Kaggle</a>. This <a href="https://www.kaggle.com/">dataset</a> contains basic data on athletes and medal results from Athens 1896 to Rio 2016.
</div>

<div class="alert alert-block alert-success">
    <b>Hands-on:</b> Read the <code>"olympics_athletes.xlsx"</code> files in the <code>"data/"</code> folder and save it to the "olympics" variable.
</div>

In [ ]:
# Read your file

### Exploring your DataFrame

The IMDb dataset is considerably larger than our first DataFrame which is why printing the whole thing is not recommended.

In [ ]:
# Print the IMDB DataFrame
print(imdb)

However, we can explore our dataset using some useful Pandas functions. The `head()` function will print the first 5 rows of our DataFrame by default.

In [ ]:
# First few rows of our DataFrame
imdb.head()

We can also obtain the dimensions of our DataFrame using `shape`.

In [ ]:
# Dimensions of our DataFrame
imdb.shape

<div class="alert alert-block alert-warning">
    <b>Note:</b> While <code>head()</code> is a method (i.e. a function associated with a Pandas DataFrame), <code>shape</code> is an attribute. This is why we do not use parentheses.
</div>

We can also access the full list of column names of our DataFrame using `columns`.

In [ ]:
# Columns of our DataFrame
imdb.columns

To generate descriptive statistics of our DataFrame, we can use the `describe()` function.

In [ ]:
# Descriptive statistics of our DataFrame
imdb.describe()

Notice that `describe()`, by default, only gives us information about the release and end years.

The `info()` function prints a summary  of the DataFrame including the columns' data types (Dtype) and a Non-Null count.

In [ ]:
# Summary of our DataFrame
imdb.info()

We can see from this output that there are some missing values in our Release Year, End Year and Cast columns. We will deal with this later.

Some of the Pandas data types you may encounter are:

| Pandas dtype |                     Usage                    |
|:------------:|:--------------------------------------------:|
|    object    | Text or mixed numeric and non-numeric values |
|     int64    |                Integer numbers               |
|    float64   |            Floating point numbers            |
|     bool     |               True/False values              |

<div class="alert alert-block alert-success">
    <b>Hands-on:</b> Explore the olympics data set using <code>head()</code>, <code>describe()</code>, <code>info()</code>, <code>shape</code> and <code>columns</code>.
</div>

In [ ]:
# Print the first rows

In [ ]:
# Print descriptive statistics

In [ ]:
# Print a summary of your data

In [ ]:
# Print the dimensions of your dataset

In [ ]:
# Print the column names

These functions give us general information about our data. However, we can also explore subsets of our data.

### Subsetting your DataFrame

We can select columns of the DataFrame using the column name

In [ ]:
# Select the titles
imdb["Title"]

<div class="alert alert-block alert-warning">
<b>Note:</b> Each column in a DataFrame is a Pandas Series. We can think of a DataFrame as a dictionary of Pandas Series.
</div>

If we do not want all the rows we can use the `head()` function at the end. We can also select multiple columns by using a list of column names.

In [ ]:
# Select multiple columns
imdb[["Title", "Release Year", "Rating"]].head()

Sometimes, it is useful to store the list of columns we want to access on a separate variable.

In [ ]:
# Select multiple columns
cols = ["Title", "Release Year", "Rating"]
imdb[cols].head()

We can also select rows of our DataFrame based on a condition. Using comparison operators on a column returns a column of the same length with boolean values.

In [ ]:
# Condition on Release Year
imdb["Release Year"] > 2010

We can use this to select only the rows of those TV shows that were released after 2010.

In [ ]:
# TV shows released after 2010
imdb[imdb["Release Year"] > 2010].head()

If instead we wanted to retrieve the TV shows that were released between two years, we can use multiple conditions.

In [ ]:
# Use multiple conditions
after_2010 = imdb["Release Year"] > 2010
before_2015 = imdb["Release Year"] < 2015
imdb[after_2010 & before_2015].head()

In [ ]:
# Alternative syntax
imdb[(imdb["Release Year"] > 2010) & (imdb["Release Year"] < 2015)].head()

The conditional operators in Pandas are:

| Operator | Pandas |
|:--------:|:------:|
|    and   |    &   |
|    or    |   \|   |
|   not    | ~      |

To select rows based on text data, we can use the `==` operator.

In [ ]:
# Select the row for Dark
imdb[imdb["Title"] == "Dark"]

If we are using the `==` operator, instead of using multiple conditions to check for equality, we can use the `isin()` function.

In [ ]:
# Select multiple titles with conditions
imdb[(imdb["Title"] == "Dark") | (imdb["Title"] == "The Big Bang Theory")]

In [ ]:
# Select multiple titles with isin()
imdb[imdb["Title"].isin(["Dark", "The Big Bang Theory"])]

This also works for any other data type, not just text.

In [ ]:
# Select all TV shows with release year 2010, 2015 and 2020
years = [2010, 2015, 2020]
imdb[imdb["Release Year"].isin(years)].head()

<div class="alert alert-block alert-success">
    <b>Hands-on:</b>
<ol>
    <li>Print the first few rows of the "Team", "Sport" and "Medal" columns.</li>
    <li>Select athletes from the Chinese team and print the first few rows.</li>
    <li>Select athletes that participated in the Olympics of Summer 2014 and Summer 2016.</li>
</ol>
</div>

In [ ]:
# Print the first few rows of Team, Sport and Medal columns

In [ ]:
# Print the first few athletes from the Chinese team

In [ ]:
# Print the first few athletes from the Summer 2014 and 2016 Olympics

You may have not noticed, but there are many duplicated titles in our dataset.

In [ ]:
# Select a different show
imdb[imdb["Title"] == "Alice in Borderland"].head()

To check for duplicated rows we can use the `duplicated()` function.

In [ ]:
# See some duplicated rows
dups = imdb[imdb.duplicated()]
dups.head()

In [ ]:
# Check one of the duplicated titles
dups[dups["Title"] == "Wednesday"].head()

To drop this duplicated rows use the `drop_duplicates()` function.

In [ ]:
# Drop duplicated rows
imdb.drop_duplicates(inplace=True)
imdb[imdb["Title"] == "Alice in Borderland"].head()

<div class="alert alert-block alert-success">
    <b>Hands-on:</b> 
<ol>
    <li>Check for duplicates in the olympics dataset.</li>
    <li>If any, remove duplicated rows fron the olympics data.</li>
</ol>
</div>

In [ ]:
# Check for duplicates

In [ ]:
# Remove duplicated rows

#### Location-based indexing

Pandas has two additional ways of indexing that allow us to select specified rows and columns: `.loc` and `.iloc`. 

The `.loc` method is used to obtain rows and columns with a specific label. Since we have not modified the row labels, these correspond to their integer index.

In [ ]:
# Select the 11th title
imdb.loc[11, "Title"]

However, the most useful way to use the `.loc` method is by subsetting rows based on a condition and selection columns by name.

In [ ]:
# Select the TV show titles released in 2010, 2015 and 2020
years = [2010, 2015, 2020]
imdb.loc[imdb["Release Year"].isin(years), "Title"].head()

We can use this to obtain more than one column too.

In [ ]:
# Select the TV show titles and rating
years = [2010, 2015, 2020]
cols = ["Title", "Release Year", "Rating"]
imdb.loc[imdb["Release Year"].isin(years), cols].head()

On the other hand, the `.iloc` method is mainly integer position based. For example, if we want to take the first row and first to third columns.

In [ ]:
# First row and first to third columns
imdb.iloc[0, 0:3]

We can also obtain non consecutive rows and columns by using lists.

In [ ]:
# First and fifth rows with the first and fourth columns
imdb.iloc[[0, 4], [0, 3]]

<div class="alert alert-block alert-success">
    <b>Hands-on:</b> Select the "Team", "Sport" and "Medal" of the athletes from China that participated in the olympics of Summer 2012 and 2016. Print the first few rows.
</div>

In [ ]:
# Show athletes from the Chinese team from Summer 2012 and 2016

## Dealing with missing data

We have already seen some of the missing values in the Release Year and End Year columns encoded as NaN, but there are also missing values that we may not be aware of until they get in the way. For example, if we wanted to change the Rating column to a float type, Python would throw an error.

In [ ]:
# Convert Rating to float
imdb['Rating'].astype("float")

Most libraries (including scikit-learn) will complain when working with missing values, even if these are stored as NaN (Not a Number). Moreover, missing values can drastically impact the quality of your models.

In [ ]:
from sklearn.linear_model import LinearRegression

# Prepare the inputs
X = np.array(imdb["Release Year"]).reshape(-1, 1)
y = np.array(imdb["Rating"]).reshape(-1, 1)

# Linear regression model
regr = LinearRegression()
regr.fit(X, y)

The first step when dealing with missing data is finding it. The `info()` function we introduced earlier is useful to detect missing values encoded as NaN. Unfortunately, as we saw, not all missing values are encoded the same way. 

Sometimes the data types of our columns may provide some information. For example, the column Rating has type object which is used to represent text.

In [ ]:
# Show info
imdb.info()

<div class="alert alert-block alert-warning">
    <b>Note:</b> Release Year and End Year are type float64 even though years are integers. In Pandas, NaN is considered a float which forces a column of integers with missing values to become floats.
</div>

To address missing values you can either remove the columns and/or rows with missing data (not always recommended) or replace/impute these values. Multiple imputation methods exist and choosing the right one is not always easy. For demonstration purposes we will replace the missing values in the Rating column for the mean of the existing values.

In [ ]:
# Extract existing values
true_rating = imdb.loc[imdb["Rating"] != "****", "Rating"].astype("float")
true_rating.head()

In [ ]:
# Compute the mean
mean_rating = np.mean(true_rating).round(1)
mean_rating

Let's create a new column with the replaced values of the Rating column.

In [ ]:
# Replace missing values with the mean
new_ratings = imdb["Rating"].replace(to_replace="****", value=mean_rating)
new_ratings.head()

In [ ]:
# Create the new column with the filled Rating
imdb["Rating2"] = new_ratings.astype("float")
imdb.head()

In [ ]:
# Take a look at the changes
imdb.loc[imdb["Rating"] == "****", ["Rating", "Rating2"]].head()

Before we fill missing values on the Runtime column we need to remove everything that is not a number in its values. It seems that the runtime for all TV shows is in minutes, but we would need some confirmation. We will start by extracting the existing values as we did before.

In [ ]:
# Extract existing values
true_runtime = imdb.loc[imdb["Runtime"] != "****", "Runtime"]
true_runtime.head()

To check if all existing values match the `<number> min` format we will use a regular expression (regex) with the string function `match()`.

In [ ]:
# Check for matches
format_match = true_runtime.str.match("\d+ min")
format_match.head()

This regular expression matches digits from 0 to 9 (\d) one or more times (+) followed by a space and the characters "min". We will not cover regular expressions, but make sure to check the resources to learn about regular expressions.

To check if absolutely all values match the format, we will use the `all()` function.

In [ ]:
# Are all runtime values in minutes?
format_match.all()

Now we know we may have missed something. Let's look at the values that do not match the format.

In [ ]:
# Get values without a match
true_runtime[~format_match]

Fortunately, we only missed a comma in our pattern. To compute the mean we will need to remove both: the comma and "min".

In [ ]:
# Replace multiple values
replace_dict = {",": "", " min": ""}
true_runtime_clean = true_runtime.replace(to_replace=replace_dict, regex=True).astype("int")
true_runtime_clean.head()

With this, we can now compute the mean of our runtime values and fill the missing data. Remember we removed the comma and "min" to compute the mean of the existing runtimes, but we need to remove those for the real column values too.

In [ ]:
# Compute the mean runtime
mean_runtime = np.mean(true_runtime_clean).round()
mean_runtime

In [ ]:
# Replace missing values with the mean
replace_dict = {",": "", " min": "", "\*\*\*\*": mean_runtime}
new_runtimes = imdb["Runtime"].replace(to_replace=replace_dict, regex=True)
new_runtime.head()

In [ ]:
# Create a new column with the imputed runtimes
imdb["Runtime2"] = new_runtimes.astype("int")
imdb.head()

<div class="alert alert-block alert-success">
    <b>Hands-on:</b> Replace the missing values of the "Age", "Height" and "Weight" columns with their respective means. Since the missing values in these columns is encoded as NaN we can use the <code>fillna()</code> function instead of <code>replace()</code>. 
    
To fill missing values from multiple columns you will need to define a dictionary with the column names as keys and the values you want to use to fill the missing values (e.g. the mean of that column).
    
<b>IMPORTANT: Use</b> <code>np.nanmean()</code> <b>to compute the means. This will skip over NaNs.</b>
</div>

In [ ]:
# Compute the means of "Age", "Height" and "Weight" and store them in different variables

In [ ]:
# Create a dictionary with the column names as keys and their corresponding column mean as values

In [ ]:
# Fill the missing values using the dictionary as argument for fillna()

Additionally, if we were to select TV shows with a Release Year and End Year, we can subset our data using the `isna()` function.

In [ ]:
# Select finished shows
finished_shows = imdb[(~imdb["Release Year"].isna()) & (~imdb["End Year"].isna())]
finished_shows.info()

<div class="alert alert-block alert-warning">
    <b>Note:</b> You can also drop columns with NaN using the <code>dropna()</code> function with the subset argument.
</div>

## Writing files

Finally, writing our results to a file may be necessary to share our work or continue the analysis elsewhere. With Pandas we can write DataFrames to CSV, Excel and other file formats.

In [ ]:
# Write our DataFrame to CSV
finished_shows.to_csv("data/finished_shows.csv", index=False)

<div class="alert alert-block alert-success">
    <b>Hands-on:</b> Select those athletes that won a medal and save this to an Excel file called "olympic_medalists.xlsx" using the <code>to_excel()</code> method. Make sure to store this inside the "data/" folder.
</div>

In [ ]:
# Subset the DataFrame and save this to a variable of your choice

# Write to Excel

## Download your notebook

![](https://raw.githubusercontent.com/CMC-QCL/python-data-manipulation/main/imgs/jhub_shutdown.png)

![](https://raw.githubusercontent.com/CMC-QCL/python-data-manipulation/main/imgs/jhub_download.png)

## Digital Badge

Send your notebook with the solved hands-on activities to **qcl@cmc.edu**

## Resources

More about Pandas
* Pandas documentation (https://pandas.pydata.org/docs/user_guide/10min.html)
* Expand your skills (https://www.kaggle.com/learn/pandas)
* More on Pandas (https://realpython.com/pandas-python-explore-dataset/)

Imputation methods:
* Flexible Imputation of Missing Data by Stef van Buuren (https://stefvanbuuren.name/fimd/) - Code examples in R
* Scikit-learn documentation (https://scikit-learn.org/stable/modules/impute.html)

Learn about regular expressions:
* Regular expressions in Python (https://realpython.com/regex-python/)
* Build and test regular expressions (https://regex101.com/)
* Regex cheat sheet (https://www.rexegg.com/regex-quickstart.html)

Finally, tools change:
* Pandas vs. Polars (https://studioterabyte.nl/en/blog/polars-vs-pandas)
* Polars tutorial (https://www.codemag.com/Article/2212051/Using-the-Polars-DataFrame-Library)